.technology-wrapper {
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-image: url("../../assets/technology/background-technology-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}
.technology-container {
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 6.4rem;
  position: relative;
}
.technology-caption {
  font-size: 2.8rem;
  font-weight: normal;
  letter-spacing: 4px;
  line-height: auto;
  display: flex;
  align-items: center;
  gap: 2.4rem;
}
.technology-num {
  font-weight: bold;
  color: #4e5059;
  letter-spacing: 4.72px;
}
.technology-inner-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
}
.technology-img {
  width: 100%;
}
.technology-text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6.4rem;
}
.technology-info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.6rem;
  width: 100%;
}
.technology-terminology {
  font-size: clamp(1.8rem, 8vw, 3rem);
  font-weight: normal;
  text-transform: uppercase;
  color: #979797;
}
.technology-title {
  font-size: clamp(2.5rem, 8vw, 5.6rem);
  font-weight: normal;
  text-transform: uppercase;
}
.technology-parag {
  max-width: 491px;
  font-size: 1.8rem;
  font-weight: normal;
  line-height: 1.8;
  color: var(--blue-300);
}
.technology-links-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 3.2rem;
  /* margin-top: 5rem; */
}
.technology-link {
  width: clamp(4rem, 8vw, 8rem);
  height: clamp(4rem, 8vw, 8rem);
  border-radius: 50%;
  border: 1px solid #979797;
  color: #ffffff;
  font-size: clamp(1.4rem, 10vw, 2.5rem);
  display: flex;
  align-items: center;
  justify-content: center;
}
.technology-link:hover {
  background-color: white;
  color: #979797;
}
.technology-link.active {
  background-color: white;
  color: var(--blue-900);
}

@media (width <= 1160px) {
  .technology-wrapper {
    background-image: url("../../assets/technology/background-technology-tablet.jpg");
    background-size: cover;

  }
  .technology-container {
    margin-top: 14.6rem;
    max-width: 100%;
    padding: 0;
  }
  .technology-inner-container {
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    margin-top: 5rem;
  }
  .technology-caption {
    padding-left: 4rem;
    padding-top: 4rem;
  }
  .technology-image-container {
    max-width: 100vw;
    width: 100%;
    height: auto;
  }
  .technology-text-container {
    flex-direction: column;
    gap: 3rem;
    padding: 0 2.4rem 4.8rem 2.4rem;
  }
  .technology-info-container {
    min-height: fit-content;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* margin-top: 4rem; */
  }
  .technology-links-container {
    justify-content: center;
    flex-direction: row;
    /* margin-top: 4rem; */
  }
  .crew-image-container {
    max-width: 446.8px;
    width: 100%;
  }
  .destination-info-container {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .destination-title {
    font-size: clamp(5rem, 8vw, 9.6rem);
  }
}
@media (width <= 767px) {
  .technology-wrapper {
    background-image: url("../../assets/technology/background-technology-mobile.jpg");
    height: 100%;
    background-size: cover;
  }
  .technology-container{
    align-items: center;
  }
  .technology-caption {
    padding-left: 0;
  }
}
